body {
  font-family:'Roboto', sans-serif;
}
.container{
  background: #E6E6E6;
  width: 400px;
  margin: 0 auto;
}
.text{
  width: 400px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: right;
  align-items: center;
}
.text p {
  margin: 0 20px;
  font-size: 50px;
  color: black;
  box-sizing: border-box;
  font-weight: 300;
}

.input-button {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.input-button input {
  margin: 0 0 3px 0;
  padding: 0;
  width: 97px;
  height: 80px;
  font-size: 25px;
  /* background: #282828; */
  background: rgb(245, 245, 245);
  color: black;
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  border: none;
}

#zero-button {
  width: 196px;
}